.projects-container {
  margin: 0 auto;
  display: block;
  padding-top:3em ;
  border-bottom: 1px solid #bdbdbd;
}

.projects-container h2 {
  font-size: 2em;
  text-decoration: underline;
}
.project {
  display: flex;
  flex-direction: column;
  width: 300;
  margin: 1em;
  align-items: center;
}

.project p {
  padding-top: 2em;
  text-align: justify;
  max-width: 600px;
}
.project h3 {
  margin-bottom: 1em;
  font-size: 1.4em;
}
.project img {
  border-radius: 10px;
  border: 1px gray solid;
  width: 550px;
  height: 380px;
}
.links-container {
  display: flex;
  margin: 1em 0em;
}
.links-container a {
  margin: 0 1em;
  padding-top: 0.36em;
  border: 1px rgb(64, 0, 128) solid;
  width: 100px;
  height: 45px;
  text-align: center;
  color:white;
  background-color: rgb(97, 64, 151);
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
}
.links-container a:hover {
  background-color: rgb(64, 0, 128);
  border:1px black solid;
}

@media only screen and (max-width: 420px) {
  .project img {
    width: 250px;
    height: 180px;
  }
  .project p {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 600px) and (min-width:421px){
  .project img {
    width: 350px;
    height: 250px;
  }
  .project p {
    font-size: 0.8em;
  }
}