.bio {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 2em 0em;
  border-bottom: 1px solid #bdbdbd;
}
.bio h1 {
  text-align: center;
  text-decoration: underline;
  margin-top: 1em;
  font-size: 2em;
}

.bio h4 {
  font-size: 1.4em;
  text-align: justify;
  margin: 0 auto;
  max-width: 700px;

  text-decoration: none;
  padding: 1em 1.2em 0.8em 1.1em;
}
.bio p {
  max-width: 700px;
  text-align: justify;
  margin: 0 auto;
  padding: 0em 1.5em 1em 1.5em;
}


@media only screen and (max-width: 600px) {
  .bio p {
    font-size: 0.8em;
    
    
  }
}
@media only screen and (max-width: 390px) {
  .bio p {
    font-size: 0.68em;
    margin:0 4px;
  }
  .bio h4{
    font-size: 1em;
    margin:0 4px;
  }
}
