.contact-container {
  color: gray;
  margin: 2em 0em;
}

.contact-container h1 {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 0.7em;
}

.section-image-contact {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  opacity: 1;
  background-image: url(../../assets/section-image-contact.jpg);
}
@media screen and (max-width: 700px) {
  .section-image-contact {
    display: none;
  }
}
