.tech-icon {
  width: 4em;
  height: 4em;
}
.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 2em 1em 2em;
}
@media screen and (max-width: 600px) {
  .skill-container {
    margin: 1em;
  }
}
.skill-container h5 {
  margin-top: 0.5em;

  font-size: 1em;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em auto;
}
.skills-container {
  border-bottom: 1px solid #bdbdbd;
  padding-top:2.8em;
}
.skills-container h4 {
  font-size: 1.4em;
  font-style: oblique;
  margin-top: 2em;
}

.skills-container h1 {
  
  font-size: 2em;
  text-decoration: underline;
}
