.navbar {
  display: flex;
  font-family: "RobotoCondensed";
  width: 100%;
  margin: 0;
  height: 70px;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  background-color: rgb(97, 64, 151);
}

.navbar a {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 1px;
  color: white;
}

.navbar a:hover {
  background-color: rgb(64, 0, 128);
  border-bottom: 3px white solid;
  
}

@media screen and (max-width: 600px) {
  .navbar {
    font-size: 0.6em; 
    height:40px;
    }
 
}



